@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Raleway';
  src: url("/fonts/Raleway-Light.ttf");
}

@font-face {
  font-family: 'BebasNeue';
  src: url("/fonts/BebasNeue-Regular.ttf");
}

@layer base {
  * {
    font-family: Raleway, serif;
    @apply appearance-none;
  }

  nav {
    ul {
      li {
        @apply cursor-pointer hover:text-cream font-bold;
      }
    }
  }

  .logo {
    @apply uppercase font-bold border border-black flex p-0.5 ;
    font-family: BebasNeue, serif;
    letter-spacing: 3px;
  }

  .section-main {
    @apply relative;

    .black_block {
      @apply md:absolute bg-black  text-white z-10 -bottom-4 md:w-[35rem] w-full overflow-hidden;
      button {
        @apply block px-4 py-3 bg-white text-black uppercase font-bold appearance-none tracking-widest w-auto hover:bg-cream hover:text-white;
      }
    }

    .black_block_list {
      @apply md:absolute bg-black px-4 md:px-16 py-6 md:py-12 text-white z-10 right-0 md:w-1/2 w-full;
      .list_item {
        @apply tracking-widest font-bold py-4 border-t border-white flex relative ;
        .list_item__def {
          @apply absolute w-8 left-4 h-0.5 border border-white top-1/2 -translate-y-1/2 ;
        }

        .list_item__data {
          @apply pl-16 flex justify-between grow items-center relative uppercase cursor-pointer;
        }

        .list_item__desc {
          @apply h-0 opacity-0 p-0 pb-0 overflow-hidden ;
        }
      }

      .list_item:last-child {
        @apply border-b;
      }
    }

    .block_img {
      @apply md:absolute right-0 bottom-4 top-0 w-full h-full;
    }

    &.right {
      @apply lg:ml-16 xl:ml-52 md:h-[85vh];

      .slick-slider {
        @apply m-0;
        .slick-list {
          @apply md:h-[85vh] h-full;
          .slick-track {
            height: 100%;
          }
        }
      }


      .black_block {
        @apply -left-8;
      }
    }

    &.left {
      .black_block {
        @apply right-0 top-0 w-1/2;
      }

      .block_img {
        @apply mr-52;
      }
    }
  }

  .container-chapter {
    @apply ml-0 md:ml-4 md:p-8 p-4;

    div:before {
      @apply w-8 md:w-16 absolute bg-gray left-0 top-1/2;
      content: '';
      height: 1px;
    }
  }

  .container-chapter_right {
    @apply mr-0 md:mr-4 p-4 md:p-8;

    div:before {
      @apply w-8 md:w-16 absolute bg-gray right-0 top-1/2;
      content: '';
      height: 1px;
    }

  }

  .list-work {
    .item-work {
      @apply col-span-1;
    }

    .item-work:nth-child(even) {
      @apply mt-4;
    }
  }

  .price {
    @apply flex flex-wrap md:flex-nowrap md:gap-8 gap-4;
    .price_list {
      @apply col-span-7 md:col-span-2 flex flex-col md:gap-4 gap-2 w-full md:w-1/3;
      .price_cat {
        @apply text-gray uppercase tracking-widest text-right text-sm md:text-xl hover:text-black font-bold cursor-pointer;
        &.active {
          @apply text-base md:text-xl text-black;
        }
      }
    }

    table {

      tr {
        @apply border border-gray-100 text-gray-500;
        td:nth-child(1) {
          @apply p-4;
        }

        td:nth-child(2) {
          @apply w-1/3 text-center border-gray-100 border-l border-r;
        }
      }
    }
  }

  .hamburger {
    @apply relative block md:hidden w-8 h-8 z-40 mr-4;
    span {
      @apply absolute border border-black rounded-full transition duration-300;
    }
    span:nth-child(1) {
      @apply top-1.5 left-0 right-0;
    }

    span:nth-child(2) {
      @apply top-1/2 w-4/5 right-0 -translate-y-1/2;
    }

    span:nth-child(3) {
      @apply bottom-1.5 left-0 right-0;
    }
    &.active {
      span {
        @apply border-white;
      }
      span:nth-child(1) {
        @apply -rotate-45 top-4;
      }

      span:nth-child(2) {
        @apply w-0 opacity-0;
      }

      span:nth-child(3) {
        bottom: unset;
        @apply rotate-45 top-4;
      }
    }
  }

  .main-tool-bar {
    height: 4rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    transition: ease 0.4s;
  }
  @media (min-width: 766px) {
    .main-tool-bar {
      height: 7rem;

      &--scrolled {
        height: 4.5rem;
      }
    }
  }

  body:has(.menu-mobile.active) {
    @apply overflow-hidden;
  }

  .menu-mobile {
    @apply opacity-0 w-screen min-h-screen fixed translate-x-full top-0 duration-300 -translate-y-full transition transform z-30 flex justify-center items-center m-auto;
    &.active {
      @apply bg-black-500 translate-x-0 translate-y-0 opacity-100;
      ul {
        @apply text-white font-bold text-xl;
        li {
          @apply text-center;
        }
      }
    }
  }

   .site {
     .vm--container {
       @media (max-width: 766px) {
         .vm--modal {
           left: 0!important;
           width: 100%!important;
         }
       }
       .vm--overlay {
         @apply bg-black-500;
       }
       .vm--modal {
         @apply bg-white flex items-center justify-center left-0 w-full;
         .form {
           @apply p-4 bg-white flex flex-col rounded-md gap-2;
           label {
             @apply text-base font-bold;
           }
           input, textarea {
             @apply p-2 border-gray rounded border;
           }

           .close {
             @apply absolute right-4 w-6 cursor-pointer top-2;
             span {
               @apply absolute left-0 right-0 border border-black;
             }
             span:nth-child(1) {
               @apply -rotate-45 top-4;
             }

             span:nth-child(2) {
               bottom: unset;
               @apply rotate-45 top-4;
             }
           }
         }
       }
     }
   }
}

.slick-slider {
  margin: 1rem;

  .slick-track {
    @apply m-auto;
    display: flex !important;
    gap: 1rem;
  }
}



